<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="nPNmWdnX7aDsJQd7yPG7w-rzdTAJJ3qcBNpgSoWzDrm4bUMSmHZJsv-2XRTSiOItVTm7FWZ7PrkUEKeVvlomd1" />

        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:taskAffinity=""
            tools:replace="android:taskAffinity" />
    </application>

</manifest>